<div style="display: flex;margin-bottom: 10px;">
  <input id="input-size" class="margin-5px-left" type="number" [(ngModel)]="inputValue" placeholder="Value" />
  <button class="btn btn-primary margin-5px-left" type="button" (click)="append()">Append</button>
  <button class="btn btn-secondary margin-5px-left" type="button" (click)="appendRandom()">Append Random</button>
  <button class="btn btn-primary margin-5px-left" type="button" (click)="prepend()">Prepend</button>
  <button class="btn btn-secondary margin-5px-left" type="button" (click)="prependRandom()">Prepend Random</button>
</div>

<h1>Doubly Linked Lists</h1>

<div class="alert alert-info" role="alert" *ngIf="message">
  <div>{{message}}</div>
</div>

<app-doubly-linked-list-display [head]="linkedList.head" [tail]="linkedList.tail" [length]="linkedList.length" [alertType]="'alert-success'">
</app-doubly-linked-list-display>