<h1>Sorting</h1>
<div class="d-flex mb-3">
  <input class="margin-5px-left" min="0" type="number" [(ngModel)]="inputMin" placeholder="Min" />
  <input class="margin-5px-left" max="1000" type="number" [(ngModel)]="inputMax" placeholder="Max" />
  <input class="margin-5px-left" max="1000" type="number" [(ngModel)]="inputLength" placeholder="Length of Array" />
  <button class="btn btn-primary margin-5px-left" type="button" (click)="createArray()">Create</button>
  <input class="margin-5px-left flex-fill" type="text" [(ngModel)]="inputValue" placeholder="Value" />
  <button class="btn btn-primary margin-5px-left" type="button" (click)="sortArray()">Sort</button>
</div>

<div class="alert alert-info">
  <h3>Unsorted</h3>
  <h5>{{unsortedArray | json}}</h5>
</div>

<div class="sort-display-container">
  <div *ngFor="let sortDisplay of sortDisplays" class="alert alert-success">
    <h4>
      {{sortDisplay.name}}
    </h4>
    <hr />
    <p style="text-align: left;" *ngFor="let text of sortDisplay.description">{{text}}</p>
    <p>
      {{sortDisplay.sortedArray | json}}
    </p>
  </div>
</div>