<h1>Types of Graphs</h1>

<!-- Directed or Undirected -->
<div class="info-container">
  <div class="alert alert-info info-item" role="alert">
    <h2>Directed</h2>
    <p>
      Where the edges on the node are one-way or bi-directional
    </p>
  </div>
  <div class="alert alert-info info-item" role="alert">
    <h2>Undirected</h2>
    <p>
      Where the edges on the nodes are bi-directional
    </p>
  </div>
</div>

<!-- Weighted or Unweighted -->
<div class="info-container">
  <div class="info-item alert alert-info">
    <h2>Unweighted</h2>
    <p>Edges don'thave weights</p>
  </div>
  <div class="info-item alert alert-info">
    <h2>Weighted</h2>
    <p>Edges have weights</p>
  </div>
</div>

<!-- Cyclic or Acyclic -->
<div class="info-container">
  <div class="info-item alert alert-info">
    <h2>Cyclic</h2>
    <p>Where the vertices are connected in a circular fashion,
      where you can go back to the original node because they are connected</p>
  </div>
  <div class="info-item alert alert-info">
    <h2>Acyclic</h2>
    <p>Where the vertices aren't connected</p>
  </div>
</div>