<div class="container">
  <h1>Fibonacci</h1>
  <div style="display: flex;margin-bottom: 10px;">
    <input id="input-size" class="margin-5px-left" type="number" min="1" max="44" [(ngModel)]="inputValue" placeholder="Value" />
    <button class="btn btn-primary margin-5px-left" type="button" (click)="calculate(true)">calculate</button>
  </div>
  <div>
    <table class="table table-dark table-bordered table-hover">
      <thead>
        <tr>
          <th>
            n =
          </th>
          <th *ngFor="let th of headers">
            {{th}}
          </th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th rowspan="4" style="vertical-align: middle;">
            x<sub>n</sub> =
          </th>
          <td *ngFor="let td of bodyActual">
            {{td | number}}
          </td>
          <th style="font-variant:small-caps;">
            Actual
          </th>
        </tr>
        <tr>
          <td *ngFor="let td of bodyIterative">
            {{td | number}}
          </td>
          <th style="font-variant:small-caps;">
            Iterative
          </th>
        </tr>
        <tr>
          <td *ngFor="let td of bodyRecursive">
            {{td | number}}
          </td>
          <th style="font-variant:small-caps;">
            Recursive
          </th>
        </tr>
        <tr>
          <td *ngFor="let td of bodyRecursiveCached">
            {{td | number}}
          </td>
          <th style="font-variant:small-caps;">
            Recursive Cached
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-info" style="display: flex;margin: 10px;flex-wrap: wrap;">
    <h3 *ngFor="let text of fibonacciEquation" style="margin-right: 5px;">{{text}}</h3>
  </div>
  <div style="display: flex; justify-content: center;align-content: center;">
    <div class="alert alert-info" style="flex: 1;margin: 10px;">
      <h2>Interative</h2>
      <p>
        Answer is = '{{answerIterative | number}}'
      </p>
      <p>
        Count is {{fibonacci.iterativeCount | number}}
      </p>
    </div>
    <div class="alert alert-info" style="flex: 1;margin: 10px;">
      <h2>Recursive</h2>
      <p>
        Answer is = '{{answerRecursive | number}}'
      </p>
      <p>
        Count is {{fibonacci.recursiveCount | number}}
      </p>
    </div>
    <div class="alert alert-info" style="flex: 1;margin: 10px;">
      <h2>Cached</h2>
      <p>
        Answer is = '{{anwserCached | number}}'
      </p>
      <p>
        Count is {{fibonacci.recursiveCachedCount | number}}
      </p>
    </div>
  </div> 
</div>

