<h1>Bubble Sort</h1>
<div style="display: flex;margin-bottom: 10px;">
  <input id="input-size" class="margin-5px-left" type="text" [(ngModel)]="inputValue" placeholder="Value" />
  <button class="btn btn-primary margin-5px-left" type="button" (click)="sortArray()">Sort</button>
</div>

<div class="alert alert-info" style="display: flex;margin: 10px;flex-wrap: wrap;">
  <h3 *ngFor="let text of sortSequence" style="margin-right: 5px;">{{text}}</h3>
</div>

<div style="display: flex; justify-content: center;align-content: center;">
  <div class="alert alert-info" style="flex: 1;margin: 10px;">
    <h2>Interative</h2>
    <p>
      Unsorted: '{{unsortedArray | json}}'
    </p>
  </div>
  <div class="alert alert-success" style="flex: 1;margin: 10px;">
    <h2>Recursive</h2>
    <p>
      Sorted '{{sortedArray | json}}'
    </p>
  </div>
</div>