<div style="display: flex;margin-bottom: 10px;">
  <input id="input-size" class="margin-5px-left" type="number" [(ngModel)]="inputSize" placeholder="Size" />
  <button class="btn btn-success margin-5px-left" type="button" (click)="initHashTable()">Init</button>
</div>
<div style="display: flex;margin-bottom: 10px;">
  <input id="input-key" class="margin-5px-left" type="text" [(ngModel)]="inputKey" placeholder="Key" />
  <div>&nbsp;</div>
  <input id="input-value" class="margin-5px-left" type="text" [(ngModel)]="inputValue" placeholder="Value" />
  <button class="btn btn-primary margin-5px-left" type="button" (click)="set()"
    [disabled]="!isInputValid()">Set</button>
</div>
<div style="display: flex;">
  <input id="input-get" class="margin-5px-left" type="text" [(ngModel)]="inputGetValue" placeholder="Key" />
  <button class="btn btn-secondary margin-5px-left" type="button" (click)="get()"
    [disabled]="inputGetValue === undefined">Get</button>
</div>

<h1>Hash Tables</h1>

<div class="alert alert-info" role="alert" *ngIf="message">
  <div>{{message}}</div>
</div>

<div *ngIf="prevHashKeys" style="margin-bottom: 10px;">
  <app-hashes-display [hashTableSize]="prevHashSize" [hashTableKeys]="prevHashKeys" [hashTableData]="prevHashData"
  [alertType]="'alert-dark'"></app-hashes-display>
</div>

<app-hashes-display [hashTableSize]="myHash.size" [hashTableKeys]="myHash.keys()" [hashTableData]="myHash.data"
  [alertType]="'alert-success'"></app-hashes-display>