<h1>Searching</h1>
<div class="container text-left">
  <div class="alert alert-info" role="alert">
    <ul>
      <li>
        If you know a solution is not far from the root of the tree?
        <strong>BFS</strong>, starts searching the nodes closest to the parent first.
      </li>
      <li>
        If the tree is very deep and solutions are rare?
        <strong>BFS > DFS</strong>, dfs can take a really long time if the solution is more towards the right of the tree
      </li>
      <li>
        If the tree is very wide
        <strong>DFS</strong>, bfs will need too much memory in each level
      </li>
      <li>
        If the solutions are frequent but located deep in the tree?
        <strong>DFS</strong>, should find a solution quicker as its deeper and the solutions are frequent
      </li>
      <li>
        Determine whether a path exists between two nodes?
        <strong>DFS</strong>, thats what DFS is all aboot!
      </li>
      <li>
        Finding the shortest path?
        <strong>BFS</strong>
      </li>
    </ul>
  </div>
</div>

<div class="tree-container">
  <div class="alert alert-dark" role="alert">
    <h5>BFS</h5>
    <!-- <app-tree-display [nodeList]="list"></app-tree-display> -->
  <pre>
    {{ list }}
  </pre>
  </div>
</div>
