/*Now the CSS*/
/* 
better version
https://codepen.io/anggaand123/pen/wexprZ
*/
$border-color: #4d4d4d;
$border-width: 2px;
$border-color-hover: #94a0b4;

.tree{
  * {
    margin: 0; 
    padding: 0;
  }

  margin-top: -40px;
  
  ul {
    padding-top: 20px; position: relative;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

    /*Time to add downward connectors from parents*/
    ul::before{
      content: '';
      position: absolute; top: 0; left: 50%;
      border-left: $border-width solid $border-color;
      width: 0; height: 20px;
    }
  }
  
  li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

    /*We will use ::before and ::after to draw the connectors*/
    &::before, &::after {
      content: '';
      position: absolute; top: 0; right: 50%;
      border-top: $border-width solid $border-color;
      width: 50%; height: 20px;
    }
    &::after{
      right: auto; left: 50%;
      border-left: $border-width solid $border-color;
    }

    /*We need to remove left-right connectors from elements without 
    any siblings*/
    &:only-child{
      &::after, &::before{
        display: none;
      }

      /*Remove space from the top of single children*/
      li:only-child{ padding-top: 0;}
    }

    /*Remove left connector from first child and right connector from last child*/
    &:first-child::before, &:last-child::after{
      border: 0 none;
    }

    /*Adding back the vertical connector to the last nodes*/
    &:last-child::before{
      border-right: $border-width solid $border-color;
      border-radius: 0 5px 0 0;
      -webkit-border-radius: 0 5px 0 0;
      -moz-border-radius: 0 5px 0 0;
    }

    &:first-child::after {
      border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0;
      -moz-border-radius: 5px 0 0 0;
    }

    span{
      border: $border-width solid $border-color;
      padding: 5px 10px;
      text-decoration: none;
      color: #1d1d1d;
      font-family: arial, verdana, tahoma;
      font-size: 11px;
      display: inline-block;
      
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;

      /*Time for some hover effects*/
      /*We will apply the hover effect the the lineage of the element also*/
      &:hover, &:hover+ul li span {
        background: #c8e4f8;
        color: #000;
        border: $border-width dashed $border-color-hover;
        cursor: pointer;
      }
    }

    .is-new-node{
      background-color: #2d89ef;
      color: #eff4ff;
      border: $border-width dotted #2b5797;
    }
  }
}