<div style="display: flex;">
  <input id="input-value" class="margin-5px-left" type="number" [(ngModel)]="inputValue" />
  <button class="btn btn-primary margin-5px-left" type="button" (click)="addNode()">Add</button>
  <button class="btn btn-primary margin-5px-left" type="button" (click)="addRandomNode()">Add Random</button>
  <button class="btn btn-secondary margin-5px-left" type="button" (click)="doesNotExists()">Value Exists</button>
  <button class="btn btn-dark margin-5px-left" type="button" (click)="init()">Init</button>
  <button class="btn btn-dark margin-5px-left" type="button" (click)="reset()">Reset</button>
  <button class="btn btn-danger margin-5px-left" type="button" (click)="removeNode()">Remove</button>
</div>

<h1>Tree</h1>
<div class="alert alert-info" role="alert" *ngIf="message">
  <div>{{message}}</div>
</div>

<div class="tree-container">
  <div class="alert alert-dark" role="alert">
    <h5>Before</h5>
    <app-tree-display [nodeList]="prevList"></app-tree-display>
  </div>

  <div class="alert alert-success" role="alert">
    <h5>After</h5>
    <app-tree-display [nodeList]="list"></app-tree-display>
  </div>
</div>

