<div style="margin-bottom: 20px;">
  <nav class="nav nav-pills nav-fill">
    <a
      class="nav-item nav-link"
      [ngClass]="{ active: showMax }"
      style="cursor: pointer;"
      (click)="enableTab('max')"
      >Max</a
    >
    <a
      class="nav-item nav-link"
      [ngClass]="{ active: showMin }"
      style="cursor: pointer;"
      (click)="enableTab('min')"
      >Min</a
    >
    <a
      class="nav-item nav-link"
      [ngClass]="{ active: showInfo }"
      style="cursor: pointer;"
      (click)="enableTab('info')"
      >Info</a
    >
  </nav>
</div>

<div *ngIf="showInfo">
  <h1>Binary Heaps</h1>
  <p>
    Binary Heaps add nodes from left to right, if the node to be added is
    greater than the parent node then it swaps until its not.
  </p>
  <p>
    For <strong>Max Binary Heaps</strong> the parent nodes are always greater
    than the children
  </p>
  <p>
    For <strong>Min Binary Heaps</strong> the parent nodes are always less than
    the children
  </p>
  <p>
    At most, two children, hence Binary. Unlike a BST there is no order from
    left to right just up and down
  </p>
  <p>
    Tries to be as balanced as possibly, will add values from left to right
  </p>
  <p>
    Store the data in an array, as the tree is meant to be balanced. Use the
    formula Math.floor(2n + 1) to find the child node
  </p>
  <p>For any index of <strong>n</strong></p>
  <p>The Left child is stored at <strong>2n + 1</strong></p>
  <p>The Right child is stored at <strong>2n + 2</strong></p>
  <p>
    Simple analysis: The size <strong>N</strong> of a full (more than just a
    complete) binary tree of height h is always N = 2<sup>(h+1)</sup>-1,
    therefore h = log<sub>2</sub>(N+1)-1 ~= log<sub>2</sub> N.
  </p>
  <ul>
    <li>
      parent(i) = i&gt;&gt;1, index i divided by 2 (integer division),
    </li>
    <li>
      left(i) = i&lt;&lt;1, index i multiplied by 2,
    </li>
    <li>
      right(i) = (i&lt;&lt;1)+1, index i multiplied by 2 and added by 1.
    </li>
  </ul>
</div>

<div *ngIf="showMin">
  <h1>Min Binary Heaps</h1>
</div>
<div *ngIf="showMax" class="tree-container">
  <div style="display: flex;">
    <input
      id="input-value"
      class="margin-5px-left"
      min="0"
      type="number"
      [(ngModel)]="inputValue"
    />
    <button
      class="btn btn-primary margin-5px-left"
      type="button"
      (click)="insert()"
      [disabled]="!inputValue"
    >
      Insert
    </button>
    <button
      class="btn btn-secondary margin-5px-left"
      type="button"
      (click)="extract()"
    >
      Extract Max
    </button>
  </div>

  <h1>Max Binary Heaps</h1>

  <div class="alert alert-info" role="alert" *ngIf="message">
    <div>{{ message }}</div>
  </div>

  <div class="alert alert-dark">
    <div *ngIf="prevArray.length === 0">Previous is empty</div>
    <div *ngIf="prevArray.length > 0">
      <div>Length of {{ prevArray.length }}</div>
      <span *ngFor="let item of prevArray; let i = index">
        [{{ i }}] {{ item }} <span *ngIf="i < prevArray.length - 1">=></span>
      </span>
    </div>
  </div>

  <div class="alert alert-success">
    <div *ngIf="myArray.length === 0">Current Array is empty</div>
    <div *ngIf="myArray.length > 0">
      <div>Length of {{ myArray.length }}</div>
      <span *ngFor="let item of myArray; let i = index">
        [{{ i }}] {{ item }} <span *ngIf="i < myArray.length - 1">=></span>
      </span>
    </div>
  </div>
</div>
